<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>



<div class="courses">
    @for(course of courses; track course.id; let index = $index; let first = $first; let last = $last; let even = $even; let odd = $odd){

        <course-card [class.is-first]="first" [class.is-last]="last" 
        [class.is-even]="even" 
        [class.is-odd]="odd"  
        [class.beginner]="course.category === 'BEGINNER'" 
        (courseSelected)="onCourseSelected($event)" 
        [index]="index" [course]="course" />
    }
    @empty {
        <h1>No courses yet</h1>
    }
   

</div>


